<!DOCTYPE html>
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
  
   
  body
    h1(style = "color:black") #{subject}
    p(style = "font-size:15px; color:black; font-weight: bold") Nadawca: 
    p(style = "color:black") Imię i Nazwisko: #{name}
    p(style = "color:black") Email:  #{email}
    br
    |
    p(style = "font-size:15px; color:black; font-weight: bold") Treść wiadomości: 
    p(style = "color:black") !{content}
    

      
      

